In [1]:
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql import Row

In [2]:
#Se crea un Data Drame vacio
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])
emptyRDD = spark.sparkContext.emptyRDD()
df = spark.createDataFrame(emptyRDD,schema)

df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [3]:
#Se crea un Dataframe a partir de un RDD y un objeto Schema
data=[('Ana','Cecilia','Tello'),('Andre','Pablo','Juarez')]
rdd=spark.sparkContext.parallelize(data)
df = rdd.toDF(schema)
df.show()

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|      Ana|   Cecilia|   Tello|
|    Andre|     Pablo|  Juarez|
+---------+----------+--------+

In [4]:
#Se crea un Dataframe a partir de una coleccion y especificando en nombre de los campos
data2=[("Alex",21),("Jenn",33)]
df2=spark.createDataFrame(data2).toDF("name","age")
df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [5]:
#df.select(df['lastname']).show()
#df.select(col('lastname')).show()
df.select('lastname').show()

+--------+
|lastname|
+--------+
|   Tello|
|  Juarez|
+--------+

In [13]:
#Creamos un dataframe usando objetos Row
data_vuelo=[Row(vuelo="A108",coordenadas=Row(lat="128",long="335")),
            Row(vuelo="A211",coordenadas=Row(lat="258",long="111")),
            Row(vuelo="A369",coordenadas=None)]
df_vuelos=spark.createDataFrame(data_vuelo)
df_vuelos.printSchema()

root
 |-- vuelo: string (nullable = true)
 |-- coordenadas: struct (nullable = true)
 |    |-- lat: string (nullable = true)
 |    |-- long: string (nullable = true)

In [ ]:
df_vuelos.show()