In [2]:
from pyspark.sql.functions import col, lit

In [3]:
df=spark.read.json("./data/ingestion/json/sample01a.json")
df.printSchema()

root
 |-- employee: struct (nullable = true)
 |    |-- married: boolean (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- salary: long (nullable = true)

In [4]:
df.show()

+--------------------+
|            employee|
+--------------------+
|{true, sonoo, 56000}|
+--------------------+

In [5]:
df=spark.read.json(["./data/ingestion/json/sample01a.json", "./data/ingestion/json/sample01b.json"])
df.printSchema()

root
 |-- employee: struct (nullable = true)
 |    |-- married: boolean (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- salary: long (nullable = true)

In [6]:
df.show()

+--------------------+
|            employee|
+--------------------+
|{true, sonoo, 56000}|
|{true, luigi, 15000}|
+--------------------+

In [10]:
df=spark.read.option("multiline","true").json(["./data/ingestion/json/sample01a.json", "./data/ingestion/json/sample01b.json", 
                    "./data/ingestion/json/sample01c.json"])
df.show(10,False)

+---------------------+
|employee             |
+---------------------+
|{false, dania, 17000}|
|{true, junior, 5500} |
|{true, sonoo, 56000} |
|{true, luigi, 15000} |
+---------------------+

In [12]:
df.select(col("employee.name"), col("employee.salary")).printSchema()

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [15]:
df.select(col("employee.name"), col("employee.salary")).repartition(2).write.\
   csv("./data/ingestion/output/data_from_json_sample")

In [16]:
df_population_data=spark.read.option("multiline","true").json("./data/ingestion/json/population_data.json")
df_population_data.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Country Name: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Year: string (nullable = true)

In [21]:
df_population_data.write.partitionBy("Year").csv("./data/ingestion/output/population_data")

In [ ]:
schema = StructType([
      StructField("RecordNumber",IntegerType(),True),
      StructField("Zipcode",IntegerType(),True),
      StructField("ZipCodeType",StringType(),True),
      StructField("City",StringType(),True),
      StructField("State",StringType(),True),
      StructField("LocationType",StringType(),True),
      StructField("Lat",DoubleType(),True),
      StructField("Long",DoubleType(),True),
      StructField("Xaxis",IntegerType(),True),
      StructField("Yaxis",DoubleType(),True),
      StructField("Zaxis",DoubleType(),True),
      StructField("WorldRegion",StringType(),True),
      StructField("Country",StringType(),True),
      StructField("LocationText",StringType(),True),
      StructField("Location",StringType(),True),
      StructField("Decommisioned",BooleanType(),True),
      StructField("TaxReturnsFiled",StringType(),True),
      StructField("EstimatedPopulation",IntegerType(),True),
      StructField("TotalWages",IntegerType(),True),
      StructField("Notes",StringType(),True)
  ])

In [ ]:
df_with_schema = spark.read.schema(schema).json("./data/ingestion/zipcodes.json")

In [ ]:
df_with_schema.printSchema()

In [ ]:
df_with_schema.show()

In [ ]:
spark.sql("CREATE OR REPLACE TEMPORARY VIEW population_data USING json OPTIONS" + 
      " (path='./data/ingestion/json/population_data.json',multiline=true)")
spark.sql("select * from population_data").show()