In [1]:
from pyspark.sql.functions import from_json, col, to_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession

In [2]:
def write_to_cassandra(target_df, batch_id):
    target_df.write \
        .format("org.apache.spark.sql.cassandra") \
        .option("keyspace", "spark_db") \
        .option("table", "customer_search") \
        .mode("append") \
        .save()
    target_df.show()

In [3]:
spark = SparkSession \
        .builder \
        .master("local[3]") \
        .appName("Stream Table Join Demo") \
        .config("spark.streaming.stopGracefullyOnShutdown", "true") \
        .config("spark.sql.shuffle.partitions", 2) \
        .config("spark.cassandra.connection.host", "localhost") \
        .config("spark.cassandra.connection.port", "9042") \
        .config("spark.sql.extensions", "com.datastax.spark.connector.CassandraSparkExtensions") \
        .config("spark.sql.catalog.lh", "com.datastax.spark.connector.datasource.CassandraCatalog") \
        .getOrCreate()

In [4]:
search_schema = StructType([
        StructField("id", StringType()),
        StructField("product_searched", StringType()),
        StructField("customer_id", StringType()),
        StructField("location_id", StringType()),
        StructField("CreateDate", StringType())
    ])

In [5]:
kafka_source_df = spark \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", "localhost:9092") \
        .option("subscribe", "product-search") \
        .option("startingOffsets", "earliest") \
        .option("failOnDataLoss", False) \
        .load()

In [6]:
value_df = kafka_source_df.select(from_json(col("value").cast("string"), search_schema).alias("value"))

In [7]:
search_df = value_df.select("value.*") \
        .withColumn("CreateDate", to_timestamp(col("CreateDate"), "yyyy-MM-dd HH:mm:ss"))

In [8]:
search_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- product_searched: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- location_id: string (nullable = true)
 |-- CreateDate: timestamp (nullable = true)

In [9]:
#add csv withlocation to do a join

schema_csv = StructType([
        StructField("location_id", StringType()),
        StructField("name", StringType()),    
        StructField("country_id", StringType()),
        StructField("country_code", StringType()),
        StructField("country_name", StringType()),
        StructField("state_code", StringType()),
        StructField("type", StringType()),
        StructField("latitude", StringType()),
        StructField("longitude", StringType())    
    ])

In [10]:
#schema_csv=(StructType().add("location_code",StringType()).add("location_region",StringType()).add("location_country",StringType()))
locations = spark.read.format("csv")\
     .option("header", True)\
     .schema(schema_csv)\
     .load("zLocations.csv").alias("locations")

In [11]:
search_locations_df = search_df.join(locations, search_df["location_id"]==locations["location_id"], "left")

In [12]:
customer_df = spark.read \
        .format("org.apache.spark.sql.cassandra") \
        .option("keyspace", "spark_db") \
        .option("table", "customer") \
        .load()

In [13]:
join_expr = customer_df.customer_id == search_locations_df.customer_id
join_type = "inner"

In [14]:
joined_df = customer_df.join(search_locations_df, join_expr, join_type) \
        .drop(customer_df.customer_id)

In [15]:
joined_df.printSchema()

root
 |-- address: string (nullable = true)
 |-- age: string (nullable = true)
 |-- create_date: timestamp (nullable = true)
 |-- email: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- product_searched: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- location_id: string (nullable = true)
 |-- CreateDate: timestamp (nullable = true)
 |-- location_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- country_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- type: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [16]:
output_df = joined_df.select(col("id"), col("customer_id"), col("user_name").alias("customer_name"), col("product_searched"), 
                             col("CreateDate").alias("search_date"), col("country_name"),col("name").alias("state"))
#                             .withColumn("idNum", col("customer_id").cast(IntegerType())) \
#                             .withColumn("id",    col("id").cast(IntegerType()))

In [19]:
#to view the data in the console
notification_writer_query = output_df.writeStream \
        .format("console") \
        .outputMode("append") \
        .option("truncate", "false") \
        .option("checkpointLocation", "./checkpoints/cassandra-proj/") \
        .start()

# notification_writer_query.awaitTermination()

In [ ]:
#Aggregations Val

# agg_output_df = output_df.groupBy("country_name", "product_searched")\
#       .agg(count("id")).alias("search_qty")

# agg_search_locations_df = output_df.groupBy("name")\
#      .agg(sum("idNum"), count("id"))

In [20]:
# output_query = output_df.writeStream \
output_query = output_df.writeStream \
        .foreachBatch(write_to_cassandra) \
        .outputMode("update") \
        .option("checkpointLocation", "./chekpoint/join-cassandra") \
        .trigger(processingTime="1 minute") \
        .start()

+---+-----------+-------------+--------------------+-------------------+------------+--------------------+
| id|customer_id|customer_name|    product_searched|        search_date|country_name|               state|
+---+-----------+-------------+--------------------+-------------------+------------+--------------------+
| 32|          1|       Johnny|            Creatine|2023-04-27 21:27:03|   Argentina|    Tierra del Fuego|
| 63|          1|       Johnny|Samsung Galaxy s2...|2023-04-27 23:28:23|     Armenia|             Yerevan|
| 64|          1|       Johnny|Gildan Mens Assor...|2023-04-27 23:29:23|    Honduras|Ocotepeque Depart...|
| 65|          1|       Johnny|         Bed Pillows|2023-04-27 23:41:18|      Malawi|     Northern Region|
| 66|          1|       Johnny|            Creatine|2023-04-27 23:41:48|        Iraq|              Diyala|
| 17|         12|       Jowell|         Bed Pillows|2023-04-27 21:12:03|Burkina Faso|             Boulgou|
| 25|         12|       Jowell|            Creatine|2023-04-27 21:20:03|  Cape Verde|           Boa Vista|
| 29|         12|       Jowell|                Roku|2023-04-27 21:24:03|    Slovenia|Velike Lašče Muni...|
| 41|         12|       Jowell|         Water Shoes|2023-04-27 21:36:04|    Zimbabwe|   Bulawayo Province|
| 42|         12|       Jowell|  Asus Gaming Laptop|2023-04-27 21:37:04|      Russia|              Moscow|
| 48|         12|       Jowell|            Creatine|2023-04-27 21:43:04|    Slovenia|Sveti Jurij ob Šč...|
| 12|         17|       Marcia|Samsung Galaxy s2...|2023-04-27 21:07:03|      Guinea|         Labé Region|
| 13|         17|       Marcia|                Roku|2023-04-27 21:08:03| South Korea|                Jeju|
| 38|         17|       Marcia|     Ninja Air Frier|2023-04-27 21:33:03|Saudi Arabia|          Al Madinah|
| 49|         17|       Marcia|                Roku|2023-04-27 21:44:04|     Vanuatu|              Penama|
| 23|         20|     JohnEric|           Bed Sheet|2023-04-27 21:18:03|  Costa Rica|Provincia de Cartago|
| 24|         20|     JohnEric|         Samsung Tab|2023-04-27 21:19:03|       China|             Guizhou|
| 47|         20|     JohnEric|  Asus Gaming Laptop|2023-04-27 21:42:04|       India|              Kerala|
| 52|         20|     JohnEric|                Roku|2023-04-27 21:47:04|       China|           Guangdong|
| 62|         20|     JohnEric|          Fire Stick|2023-04-27 23:27:23|     Hungary|           Kecskemét|
+---+-----------+-------------+--------------------+-------------------+------------+--------------------+
only showing top 20 rows

In [ ]:
output_query.awaitTermination()

+---+-----------+-------------+------------------+-------------------+--------------+--------------+
| id|customer_id|customer_name|  product_searched|        search_date|  country_name|         state|
+---+-----------+-------------+------------------+-------------------+--------------+--------------+
|  2|         13|        Mario|              Roku|2023-04-27 23:57:18|    Bangladesh|Bhola District|
| 68|         15|       Martha|   Ninja Air Frier|2023-04-27 23:49:44|          Iran|        Alborz|
|  3|          7|         Emil|Asus Gaming Laptop|2023-04-27 23:57:48|        France|   Deux-Sèvres|
|  1|          9|          Jox|              Roku|2023-04-27 23:56:48|United Kingdom|North Ayrshire|
+---+-----------+-------------+------------------+-------------------+--------------+--------------+

+---+-----------+-------------+----------------+-------------------+--------------------+------------------+
| id|customer_id|customer_name|product_searched|        search_date|        country_name|             state|
+---+-----------+-------------+----------------+-------------------+--------------------+------------------+
|  5|         10|        Emona|       Bed Sheet|2023-04-27 23:58:48|United States Min...|      Baker Island|
|  4|         19|    Johnathan|     Samsung Tab|2023-04-27 23:58:18|              France|Meurthe-et-Moselle|
+---+-----------+-------------+----------------+-------------------+--------------------+------------------+

+---+-----------+-------------+----------------+-------------------+------------+---------------+
| id|customer_id|customer_name|product_searched|        search_date|country_name|          state|
+---+-----------+-------------+----------------+-------------------+------------+---------------+
|  7|         20|     JohnEric|      Air Jordan|2023-04-27 23:59:48|     Algeria|     Tissemsilt|
|  6|          2|     Marielys|     Water Shoes|2023-04-27 23:59:18|  Seychelles|Grand'Anse Mahé|
+---+-----------+-------------+----------------+-------------------+------------+---------------+

+---+-----------+-------------+--------------------+-------------------+------------+--------------------+
| id|customer_id|customer_name|    product_searched|        search_date|country_name|               state|
+---+-----------+-------------+--------------------+-------------------+------------+--------------------+
|  9|         18|       Johvay|  Asus Gaming Laptop|2023-04-28 00:00:48|     Moldova|   Cantemir District|
|  8|          9|          Jox|Samsung Galaxy s2...|2023-04-28 00:00:18|    Honduras|Bay Islands Depar...|
+---+-----------+-------------+--------------------+-------------------+------------+--------------------+

+---+-----------+-------------+--------------------+-------------------+------------+-------------+
| id|customer_id|customer_name|    product_searched|        search_date|country_name|        state|
+---+-----------+-------------+--------------------+-------------------+------------+-------------+
| 11|         10|        Emona|Gildan Mens Assor...|2023-04-28 00:01:48| Philippines|Lanao del Sur|
| 10|         19|    Johnathan|  Asus Gaming Laptop|2023-04-28 00:01:18|       India|   Puducherry|
+---+-----------+-------------+--------------------+-------------------+------------+-------------+

+---+-----------+-------------+----------------+-------------------+------------+---------------+
| id|customer_id|customer_name|product_searched|        search_date|country_name|          state|
+---+-----------+-------------+----------------+-------------------+------------+---------------+
| 12|         20|     JohnEric| Ninja Air Frier|2023-04-28 00:02:18|       Libya|Jabal al Akhdar|
| 13|         19|    Johnathan|     Bed Pillows|2023-04-28 00:02:48|      Serbia|       Belgrade|
+---+-----------+-------------+----------------+-------------------+------------+---------------+